gni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gnapartnership.org/schemas/0_1">
    <xs:complexType name="GniSourceMetadata">
        <xs:sequence>
            <xs:element name="title"></xs:element>
            <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GniNameDetails">
        <xs:sequence>
            <xs:element name="lsid"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>